



/* Organizations */
#organizations {
  clear: both;
  height: 500px;
}

#organizations h2 {
  text-shadow: 1px 1px 2px #FB000D;
}

#organizations ul {
  margin: 50px;
  position: relative;
}
#organizations ul li {
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 1em;
  padding-left: 5px;
  max-width: 50%;
}
#organizations ul li:before {
  color: #FB000D;
  content: '6';
  font-family: 'EntypoRegular';
  font-size: 40px;
  opacity: 0.5;
  padding-right: 10px;
  text-shadow: 0px 0px 2px #888;
}
#organizations ul li:hover:before {
  opacity: 1;
}

#organizations img {
  border-radius: 20px;
  position: absolute;
  right: 20px;
  top: 0;
  max-width: 40%;
  opacity: 0;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  transition: opacity 1s;
}
#organizations li:hover img {
  opacity: 1;
}


/* Fun Facts */
#facts h2 {
  text-shadow: 1px 1px 2px #FFA700;
}
#facts ul {
  margin: 50px;
}
#facts ul li {
  font-size: 1.2em;
  line-height: 1.3em;
  margin-bottom: 1em;
  padding-left: 5px;

  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  transition: background-color 1s;
}
#facts ul li:hover {
  background-color: #fff;
  border-radius: 10px;
}
#facts ul li:before {
  color: #FFA700;
  content: '7';
  font-family: 'EntypoRegular';
  font-size: 30px;
  padding-right: 10px;
  text-shadow: 1px 1px 1px #CCC;
}
#facts ul li:hover:before {
  color: #FF6F00;
}


/* Fonts */

/** Mobile view **/
@media screen and (max-width: 480px){
  h2{
    font-size: 2.0em;
  }
  #organizations{
    height:auto;
  }
  #organizations ul li{
    max-width: 100%;
  }
  #organizations ul li img{
    display:none;
  }
}
