/* Footer */

footer {
    padding: $default-padding;
    @media screen and (min-width: $tablet-width) {
	margin: $centered;
	width: $layout-width;
	@include flexibleGradient($accent-bg, black, -45);

	nav {
	    float: left;
	    font-size: 1.1em;
	    margin: 10px;
	}
	&:after {
	    @include clearfix;
	}
    }
}
