.base-link {
  &--color {
    color: $baseLinkColor;
    background-color: $baseBackgroundColor;
    &:hover {
      color: $baseHoverLinkColor;
      background-color: $baseHoverBackgroundColor;
    }
  }
}
