// Tools: mixins, extendables, etc

// The clearfix, to clear those pesky floats
@mixin clearfix {
    content: '';
    display: table;
    clear: both;
}

// Give text a drop-shadow effect
//
// @param $color -- specify a color for the text,
//                  the shadow will be calculated from it.
@mixin dropshadow($color) {
    color: $color;
    text-shadow: 2px 2px darken($color, 50%);
}

// Add the necessary prefixes to the linear-gradient
//
// @param $color1 - starting and ending color for the gradient
// @param $color2 - midway color for the gradient
@mixin gradient($color1, $color2) {
    background-image: -webkit-linear-gradient($color1, $color2, $color2);
    background-image: -moz-linear-gradient($color1, $color2, $color1);
    background-image: linear-gradient($color1, $color2, $color1);
}

// Rotate an object
//
// @param $degree - numerical degree by which to rotate the item.
//                  Format should be like "15deg".
// @param $position - positional offset for centering the rotation.
//                    Requires both x and y offsets.
//                    Format like "50% 0"
@mixin rotate($degree, $position) {
    -webkit-transform: rotate($degree);
    -moz-transform: rotate($degree);
    transform: rotate($degree);

    -webkit-transform-origin: $position;
    -moz-transform-origin: $position;
    transform-origin: $position;
}