// Tools: mixins, extendables, etc

// The clearfix, to clear those pesky floats
@mixin clearfix {
    content: '';
    display: table;
    clear: both;
}

// Give text a drop-shadow effect
//
// @param $color -- specify a color for the text,
//                  the shadow will be calculated from it.
// @param $percentage - amount to darken the text shadow.
@mixin dropshadow($color: $default-dropshadow-color, $percentage: $default-dropshadow-pct) {
    color: $color;
    text-shadow: 2px 2px darken($color, $percentage);
}

// Add the necessary prefixes to the linear-gradient
//
// @param $color1 - starting and ending color for the gradient
// @param $color2 - midway color for the gradient
@mixin gradient($color1: $body-bg, $color2: $accent-bg) {
    background-image: -webkit-linear-gradient($color1, $color2, $color2);
    background-image: -moz-linear-gradient($color1, $color2, $color1);
    background-image: linear-gradient($color1, $color2, $color1);
}

// Rotate an object
//
// @param $degree - numerical degree by which to rotate the item.
//                  Format should be like "15" (no suffix).
// @param $position - positional offset for centering the rotation.
//                    Requires both x and y offsets.
//                    Format like "50% 0"
@mixin rotate($degree: $default-degree, $position: $default-position) {
    $deg: #{$degree}deg;
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    transform: rotate($deg);

    -webkit-transform-origin: $position;
    -moz-transform-origin: $position;
    transform-origin: $position;
}

// Sprites

// Image replacement - accessibly hides text when you want to use a background image instead
@mixin image-replace {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

// Create the sprite position using an integer grid.
// This allows the sprites to be determined incrementally.
//
// @param $x, $y - position of the sprite on the grid
@mixin sprite-position($x:0, $y:0, $gridSize: $sprite-grid-size) {
  $offsetX:   $x * $gridSize * -1;
  $offsetY:   $y * $gridSize * -1;
  background-position: $offsetX $offsetY;
}

// Create a specific sprite image
//
// @param $file -- the sprite image file basename
// @param $x, $y -- position of the sprite on the grid (0,0), (0,1), etc
@mixin sprite-image($file: $sprite-file, $x:0, $y:0, $gridSize: $sprite-grid-size) {
  display: block;
  background-image: url("#{$sprite-sheet-path}/#{$file}");
  @include sprite-position($x, $y, $gridSize);
  @include image-replace;
  width: $gridSize;
  height: $gridSize;
}
