// settings, variables, default values, etc.

$background-primary: rgb(241, 241, 241);
$accent-color: #FB000D;
$link-color: #1D766F;
$link-hover-color: #BC2F36;
$h1-shadow-color: rgba(255, 255, 255, 0.25);
$h2-fg-color: #FFF;
$h2-bg-color: rgb(60, 60, 60);
$h4-fg-color: rgb(120, 120, 120);

$nav-link-color: white;
$nav-link-hover-color: $accent-color;

$jump-color: #565656;

$header-bg-color: #009D92;
$header-h1-color: #FFEECC;

$box-shadow-color: #000;

$footer-grad-start: #00665F;
$footer-grad-mid: #1D766F;
$footer-grad-end: $footer-grad-start;

$footer-link-hover-color: #FFEECC;

$article-bg-color: white;

$organization-h2-shadow-color: $accent-color;
$organization-bullet-color: $accent-color;
$organization-shadow-color: #888;
$organization-bullet: '6';

$facts-accent-color: #FFA700;
$facts-h2-shadow-color: $facts-accent-color;
$facts-list-hover-color: #fff;
$facts-bullet-color: $facts-accent-color;
$facts-bullet: '7';
$facts-shadow-color: #CCC;
$facts-hover-before-color: #FF6F00;

$default-font-stack: 'Lato', Arial, sans-serif;
$default-font-size: 16px;
$default-font-weight: 300;
$default-line-height: 1.2em;

$text-font-stack: $default-font-stack;
$text-font-size: $default-font-size;
$text-font-weight: $default-font-weight;
$text-line-height: $default-line-height;

$h1-font-stack: 'Audiowide', cursive;
$heading-font-stack: 'Quicksand', sans-serif;
$icon-stack: 'EntypoRegular';

$centered: 0 auto;
$layout-width: 960px;
$default-padding: 10px;
$defaultPadding: $default-padding;


$header-width: $layout-width - $default-padding*2;
$nav-width: $layout-width/4;
$nav-line-height: $text-font-size + $default-padding*2;
$article-width: $layout-width/3 - $default-padding*4;
$list-item-height: $default-font-size + $default-padding;
$footer-width: $header-width;