/* Colour Settings */

$body-bg: rgb(241, 241, 241);
$accent-fg: white;
$accent-bg: #009D92;
$contrast-color: #FFEECC;
$accent-color: #FB000D;
$link-color: darken($accent-bg, 5%);
$link-hover-color: darken(invert($accent-bg), 30%);
$link-accent-color: lighten($link-hover-color, 5%);
$title-shadow: lighten($accent-color, 10%);
$section-heading-color: white;
$section-heading-bg: darken($body-bg, 70%);
$years-heading: darken($body-bg, 70%);

$nav-link-color: $accent-fg;

$jump-color: #565656;

$box-shadow-color: #000;

$footer-grad-start: #00665F;
$footer-grad-mid: #1D766F;
$footer-grad-end: $footer-grad-start;

$footer-link-hover-color: #FFEECC;

$article-bg-color: $accent-fg;

$main-bg: darken(white, 10%);

$organization-h2-shadow-color: $accent-color;
$organization-bullet-color: $link-accent-color;
$organization-shadow-color: #888;

$facts-accent-color: #FFA700;
$facts-h2-shadow-color: $facts-accent-color;
$facts-list-hover-color: #fff;
$facts-bullet-color: $facts-accent-color;
$facts-shadow-color: #CCC;
$facts-hover-before-color: #FF6F00;
