/* Layout Settings */



$centered: 0 auto;
$layout-width: 960px;

$default-padding: 10px;
$defaultPadding: $default-padding;

$header-width: $layout-width - $default-padding*2;
$nav-width: $layout-width/4;
$nav-line-height: $text-font-size + $default-padding*2;
$article-width: $layout-width/3 - $default-padding*4;
$list-item-height: $default-font-size + $default-padding;

$tablet-width: 768px;
$tablet-header-width: $tablet-width - $default-padding*2;
$tablet-nav-width: $tablet-width/4;
$tablet-article-width: $tablet-width/3 - $default-padding*4;

$mobile-width: 425px;
$mobile-header-width: $mobile-width - $default-padding*2;
$mobile-nav-width: $mobile-width/4;
$mobile-article-width: $mobile-width/3 - $default-padding*4;
