/* Fun Facts */
.facts {
    h2 {
	text-shadow: 1px 1px 2px $facts-h2-shadow-color;
    }
    ul {
	margin: 10px;
	list-style: disc;
	li {
	    margin: 10px;
	}
    }
    @media screen and (min-width: $tablet-width) {
	ul {
	    margin: 50px;
	    list-style: none;
	    li {
		margin: 0 0 1em;
		font-size: 1.2em;
		line-height: 1.3em;
		padding-left: 5px;
		@include multi-hover-transition((background-color: $facts-list-hover-color, border-radius: $default-padding), 0.5s);

		&:before {
		    color: $facts-bullet-color;
		    content: $facts-bullet;
		    font-family: $icon-stack;
		    font-size: 30px;
		    padding-right: $default-padding;
		    text-shadow: 1px 1px 1px $facts-shadow-color;
		}

		&:hover:before {
		    color: $facts-hover-before-color;
		}
	    }
	}
    }
}
