/* Organizations */
.organizations {
    clear: both;
    h2 {
	text-shadow: 1px 1px 2px $link-accent-color;
    }
    img {
	display: none;
    }
    ul {
	list-style: disc;
	margin: 10px;
	li {
	    margin: 10px;
	}
    }
    @media screen and (min-width: $layout-width) {
	height: 500px;


	ul {
	    margin: 50px;
	    position: relative;
	    list-style: none;

	    li {
		margin: 0;
		font-size: 1.2em;
		line-height: $list-item-height;
		margin-bottom: 1em;
		padding-left: 5px;
		max-width: 50%;

		&:before {
		    color: $organization-bullet-color;
		    content: $organization-bullet;
		    font-family: $icon-stack;
		    font-size: 40px;
		    @include opacity(0.5);
		    padding-right: $default-padding;
		    text-shadow: 0px 0px 2px $organization-shadow-color;
		}

		&:hover:before {
		    @include opacity(1);
		}
	    }
	}

	img {
	    display: block;
	    border-radius: 20px;
	    position: absolute;
	    right: 20px;
	    top: 0;
	    max-width: 40%;
	    @include opacity(0);

	    @include transition(opacity, 1s);
	}

	li:hover img {
	    @include opacity(1);
	}
    }
}
